node_modules
.idea

src/lib/font_source/*/*/index.html
src/lib/font_source/*/*/preview.svg
src/lib/font_source/*/*/reporter.json

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/src/lib/posts.ts
