/* Tailwind CSS */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@config "./lib/styles/tailwind.config.js";
/* Skeleton UI */
@import '$lib/styles/skeleton.css';
/*Marquee*/
@import '$lib/styles/marquee.css';

/* Custom styles */
@import '$lib/styles/variable.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

* {
	font-synthesis: none;
}

html {
	height: -webkit-fill-available;
	height: 100vh;
	overflow-x: hidden;
}

body {
	height: 100%;
	overflow: hidden;
	overflow-x: auto;

	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

body > div {
	height: 100%;
	min-width: 665px;
	overflow-y: auto;
	overflow-x: hidden;

	scrollbar-width: thin;
	scroll-snap-type: y mandatory;
}
