/* Tailwind CSS */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@config "./lib/styles/tailwind.config.js";
/* Skeleton UI */
@import '$lib/styles/skeleton.css';
/*Marquee*/
@import '$lib/styles/marquee.css';

/* Custom styles */
@import '$lib/styles/variable.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

* {
	font-synthesis: none;
}

html {
	height: 100vh;
	height: -webkit-fill-available;
	overflow: hidden;
}

body {
	height: 100vh;
	height: -webkit-fill-available;
	overflow: hidden;
	overflow-x: auto;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

:target {
	scroll-margin-top: 128px;
}

.sveltekit-body {
	height: 100vh;
	height: -webkit-fill-available;
	min-width: 375px;
	overflow-y: auto;
	overflow-x: hidden;

	scrollbar-width: thin;
	scroll-snap-type: y mandatory;
}

.firefox .sveltekit-body {
	scroll-snap-type: none;
}
